@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-space-grotesk: var(--font-space-grotesk);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-space-grotesk), 'Space Grotesk', Arial, Helvetica, sans-serif;
}
